{% extends "homepage/homepage_base_index.html" %}

{% block link %}
    <link href="../../static/homepage/css/base.css" rel="stylesheet" type="text/css">

    <link href="../../static/homepage/css/pagename.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block container %}

    <div class="container">

        <!--banner-->

        <div class="banner_erji">

            <img src="../../static/homepage/images/beautiful_banner.jpg" width="1000" height="187" alt="" title=""></div>

        <!--banner end-->


        <!--content-->

        <div class="content clearfix">

            <div class="leftbar">

                <div class="leftnav">

                    <h1>风景景点</h1>

                    <ul class="ul_left">


                        <li><h3><a href="{{ url_for("homepage.tourism") }}">景点介绍</a></h3>

                        </li>


                    </ul>


                </div>

                <div class="left_lx">

                    <h1>联系方式</h1>

                    <p>地址：河南省信阳市平桥区羊山街道信阳农林学院</p>

                    <p>联系人：刘敏</p>

                    <p>学号：151413203</p>

                    <p>电话：+86 17739571362</p>

                    <p>QQ：1620183385</p>

                    <p>网址：www.liumin.com</p>

                    <p>邮编：464000</p>

                </div>

            </div>

            <div class="rightbar">

                <div class="bread"><a href="/index.aspx">首页</a> > <a href="#">风景预览</a></div>

                <ul class="ul_zj clearfix">


                    <li>

                        <img src="../../static/homepage/images/bt_01.jpg" width="220" height="140"><span>茗阳汤泉池</span>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/bt_02.jpg" width="220" height="140"><span>鸡公山风景名胜区</span>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/bt_03.jpg" width="220" height="140"><span>南湾湖</span>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/bt_04.jpg" width="220" height="140"><span>西九华山</span>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/bt_05.jpg" width="220" height="140"><span>波尔登森林公园</span>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/bt_06.jpg" width="220" height="140"><span>金牛山文化广场</span></a>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/bt_07.jpg" width="220" height="140"><span>彩虹桥</span>

                    </li>


                </ul>

                <div class="paging"></div>

            </div>

        </div>

        <!--content end-->

    </div>
{% endblock %}
