{% extends "homepage/homepage_base_index.html" %}

{% block link %}
    <link href="../../static/homepage/css/base.css" rel="stylesheet" type="text/css">

    <link href="../../static/homepage/css/pagename.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block container %}

    <div class="container">

        <!--banner-->

        <div class="banner_erji">

            <img src="../../static/homepage/images/banner_erji1.jpg" width="1000" height="187" alt="" title=""></div>

        <!--banner end-->


        <!--content-->

        <div class="content clearfix">

            <div class="leftbar">

                <div class="leftnav">

                    <h1>风景景点</h1>

                    <ul class="ul_left">


                        <li><h3><a href="beautiful.html">景点介绍</a></h3>

                        </li>


                    </ul>


                </div>

                <div class="left_lx">

                    <h1>联系方式</h1>

                    <p>地址：XXXX</p>

                    <p>联系人：XXXX</p>

                    <p>电话：0771-xxxxxxx</p>

                    <p>QQ：9XXXX5</p>

                    <p>网址：wwwXXXXm</p>

                    <p>邮编：530001</p>

                </div>

            </div>

            <div class="rightbar">

                <div class="bread"><a href="/index.aspx">首页</a> > 旅游风景</div>

                <ul class="ul_zj clearfix">


                    <li>

                        <img src="../../static/homepage/images/201410301619396038.jpg" width="220" height="140"><span>人民公园</span>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/201410301618110413.jpg" width="220" height="140"><span>南宁海底世界</span>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/201410301611286194.jpg" width="220" height="140"><span>金花茶公园</span>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/201410301613498694.jpg" width="220" height="140"><span>五象广场</span>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/201410301614494319.jpg" width="220" height="140"><span>地王云顶</span>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/201410301615449632.jpg" width="220" height="140"><span>南宁民歌湖游船</span></a>

                    </li>


                    <li>

                        <img src="../../static/homepage/images/201410301615449632.jpg" width="220" height="140"><span>名树博览园</span>

                    </li>


                </ul>

                <div class="paging"></div>

            </div>

        </div>

        <!--content end-->

    </div>
{% endblock %}
