{% extends "homepage/homepage_base_index.html" %}

{% block link %}

    <link href="../../static/homepage/css/base.css" rel="stylesheet" type="text/css">

    <link href="../../static/homepage/css/pagename.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block script %}
    <script type="text/javascript" src="../../static/homepage/js/connection.js"></script>
{% endblock %}
{% block container %}
    <div class="container">

        <!--banner-->

        <div class="banner_erji">

            <img src="../../static/homepage/images/connection_banner.png" width="1000" height="187" alt="" title=""></div>

        <!--banner end-->


        <!--content-->

        <div class="content clearfix">

            <div class="leftbar">

                <div class="leftnav">

                    <h1>其他目录</h1>

                    <ul class="ul_left">


                        <li>
                            <h3><a class="connect_me" href="{{ url_for("homepage.leave") }}">网站留言</a></h3>

                        </li>


                    </ul>


                </div>

                <div class="left_lx">

                    <h1>联系方式</h1>

                    <p>地址：河南省信阳市平桥区羊山街道信阳农林学院</p>

                    <p>联系人：刘敏</p>

                    <p>学号：151413203</p>

                    <p>电话：+86 17739571362</p>

                    <p>QQ：1620183385</p>

                    <p>网址：www.liumin.com</p>

                    <p>邮编：464000</p>

                </div>

            </div>

            <div class="rightbar">

                <div class="bread"><a href="homepage_base_index.html">首页</a> >联系我们</div>

                <div class="contact_nei">
                    <div class="luxian_l">
                        <p>
                            地址： 河南省信阳市平桥区羊山街道信阳农林学院<br/>
                            联系人：刘敏<br/>
                            电话：+86 17739571362<br/>
                            </p>
                        <p><img src="../../static/homepage/images/xynlxy.jpg" width="600" height="500"></p>
                    </div>


                </div>


            </div>
        </div>


        <!--content end-->

    </div>
{% endblock %}