{% extends "homepage/homepage_base_index.html" %}

{% block link %}

    <link href="../../static/homepage/css/base.css" rel="stylesheet" type="text/css">

    <link href="../../static/homepage/css/pagename.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block container %}
    <div class="container">

        <!--banner-->

        <div class="banner_erji">

            <img src="../../static/homepage/images/banner_erji8.jpg" width="1000" height="187" alt="" title=""></div>

        <!--banner end-->


        <!--content-->

        <div class="content clearfix">

            <div class="leftbar">

                <div class="leftnav">

                    <h1>其他目录</h1>

                    <ul class="ul_left">


                        <li>
                            <h3><a href="{{ url_for("homepage.leave") }}">给我留言</a></h3>

                        </li>


                        <li>
                            <h3><a href="{{ url_for("homepage.about") }}">团队介绍</a></h3>

                        </li>


                        <li>
                            <h3><a href="{{ url_for("homepage.connection") }}">联系我们</a></h3>

                        </li>


                    </ul>


                </div>

                <div class="left_lx">

                    <h1>联系方式</h1>

                    <p>地址：南宁职业技术学院信息工程学院</p>

                    <p>联系人：陆培杰</p>

                    <p>电话：0771-xxxxxxx</p>

                    <p>QQ：951400395</p>

                    <p>网址：www.lczdnn.com</p>

                    <p>邮编：530001</p>

                </div>

            </div>

            <div class="rightbar">

                <div class="bread"><a href="homepage_base_index.html">首页</a> >联系我们</div>

                <div class="contact_nei">
                    <div class="luxian_l">
                        <p>
                            地址XXXXXXXXXXXXXXXXXX<br/>
                            联系人：XXXXX<br/>
                            电话：0771-xxxxxxx&nbsp; XXX7118362<br/>
                            传真：530001</p>
                        <p><img src="../../static/homepage/images/zsyy.png" width="600" height="500"></p>
                    </div>


                </div>


            </div>
        </div>


        <!--content end-->

    </div>
{% endblock %}