{% extends "homepage/homepage_base_index.html" %}

{% block link %}
    <link href="../../static/homepage/css/base.css" rel="stylesheet" type="text/css">

    <link href="../../static/homepage/css/pagename.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block container %}

    <div class="container">

        <!--banner-->

        <div class="banner_erji">

            <img src="../../static/homepage/images/banner_erji3.jpg" width="1000" height="187" alt="" title=""></div>

        <!--banner end-->


        <!--content-->

        <div class="content clearfix">

            <div class="leftbar">

                <div class="leftnav">

                    <h1>必吃美食</h1>

                    <ul class="ul_left">


                        <li><h3><a href={{ url_for("homepage.delicacy") }}>风味小吃</a></h3>

                        </li>


                        <li><h3><a href="#">待扩展...</a></h3>

                        </li>


                    </ul>


                </div>

                <div class="left_lx">

                    <h1>联系方式</h1>

                    <p>地址：河南省信阳市平桥区羊山街道信阳农林学院</p>

                    <p>联系人：刘敏</p>

                    <p>学号：151413203</p>

                    <p>电话：+86 17739571362</p>

                    <p>QQ：1620183385</p>

                    <p>网址：www.liumin.com</p>

                    <p>邮编：464000</p>

                </div>

            </div>

            <div class="rightbar">

                <div class="bread"><a href="{{ url_for("homepage.index") }}">首页</a> >风味小吃</div>

                <ul class="ul_zj clearfix">


                    <li>

                        <a href="https://www.xiangha.com/techan/90418.html"><img src="../../static/homepage/images/delicacy_01.jpg"
                                         width="220" height="140"><span>煎糍粑</span></a></li>


                    <li>

                        <a href="https://www.xiangha.com/techan/116572.html"><img src="../../static/homepage/images/delicacy_02.jpg"
                                         width="220" height="140"><span>筒鲜鱼</span></a></li>


                    <li>

                        <a href="https://www.xiangha.com/techan/119356.html"><img src="../../static/homepage/images/delicacy_03.jpg"
                                         width="220" height="140"><span>面炕鸡</span></a></li>


                    <li>

                        <a href="https://www.xiangha.com/techan/205870.html"><img src="../../static/homepage/images/delicacy_04.jpg"
                                         width="220" height="140"><span>观庙铺臭豆腐卷</span></a></li>


                    <li>

                        <a href="https://www.xiangha.com/techan/67498.html"><img src="../../static/homepage/images/delicacy_05.jpg"
                                         width="220" height="140"><span>清香豆面汤</span></a></li>


                    <li>

                        <a href="https://www.xiangha.com/techan/158506.html"><img src="../../static/homepage/images/delicacy_06.jpg"
                                         width="220" height="140"><span>罗山大肠</span></a></li>


                    <li>

                        <a href="https://www.xiangha.com/techan/158512.html"><img src="../../static/homepage/images/delicacy_07.jpg"
                                         width="220" height="140"><span>信阳热干面</span></a></li>


                </ul>

                <div class="paging"></div>

            </div>

        </div>

        <!--content end-->

    </div>
{% endblock %}