{% extends "homepage/homepage_base_index.html" %}

{% block link %}
    <link href="../../static/homepage/css/base.css" rel="stylesheet" type="text/css">
    <link href="../../static/homepage/css/pagename.css" rel="stylesheet" type="text/css">
    <link href="../../static/homepage/css/historic.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block script %}
        <script type="text/javascript" src="../../static/homepage/js/leave.js"></script>
        <script type="text/javascript" src="../../static/homepage/js/historic.js"></script>
{% endblock %}

{% block container %}
    <div class="container">

        <!--banner开始-->

        <div class="banner_erji">

            <img src="../../static/homepage/images/historic_banner.jpg" width="1000" height="187" alt="" title="">

        </div>

        <!--banner结束-->


        <!--content开始-->

        <div class="content clearfix">

            <div class="leftbar">

                <div class="leftnav">

                    <h1>话说信阳</h1>

                    <ul class="ul_left">


                        <li><h3><a href="{{ url_for("scenic.scenic") }}">信阳简介</a></h3>

                        </li>


                        <li><h3><a href="Culture.html">信阳文化</a></h3>

                        </li>


                        <li><h3><a href="historic.html">信阳历史</a></h3>

                        </li>

                    </ul>


                </div>

                <div class="left_lx">

                    <h1>联系方式</h1>

                    <p>地址：河南省信阳市平桥区羊山街道信阳农林学院</p>

                    <p>联系人：刘敏</p>

                    <p>学号：151413203</p>

                    <p>电话：+86 17739571362</p>

                    <p>QQ：1620183385</p>

                    <p>网址：www.liumin.com</p>

                    <p>邮编：464000</p>

                </div>

            </div>

            <div class="rightbar">

                <div class="bread"><a href="{{ url_for("homepage.index") }}">首页</a> > 信阳历史</div>

                <div class="news">
                    <ul class="con_news">

                    </ul>
                    <p id="page"><a id="pre-page">上一页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="nxt-page">下一页</a></p>
                </div>


            </div>

        </div>

        <!--content结束-->

    </div>
{% endblock %}