<!DOCTYPE HTML>

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>宜居之城-信阳</title>

    <meta content="宜居之城-信阳" name="keywords"/>

    <meta content="宜居之城-信阳" name="description"/>
    <link href="../../static/homepage/css/base.css" rel="stylesheet" type="text/css">
    <link href="../../static/homepage/css/pagename.css" rel="stylesheet" type="text/css">
    {% block link %}
    {% endblock %}
    <script type="text/javascript" src="../../static/homepage/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="../../static/homepage/js/jquery.SuperSlide.2.1.js"></script>
    <script type="text/javascript" src="../../static/homepage/js/homepage.js"></script>
    {% block script %}
{#        <script type="text/javascript" src="../../static/homepage/js/leave.js"></script>#}
{#        <script type="text/javascript" src="../../static/homepage/js/historic.js"></script>#}
    {% endblock %}
</head>


<body>


<!--header开始-->

<div class="header">

    <div class="w1000">

        <p>你好，欢迎光临宜居之城信阳！</p>
        {% if data.user_info %}
            <div class="contact"><a href="javascript:;" class="nick_name">{{ data.user_info.nick_name }}</a> <a
                    href="javascript:;"
                    class="logout" onclick="logout()">退出</a></div>
        {% else %}
            <div class="contact"><a href="javascript:;" class="login_btn">用户登陆</a> <a href="javascript:;"
                                                                                      class="register_btn">注册</a></div>
        {% endif %}
    </div>

</div>


<div class="w1000">

    <div class="header_bottom">

        <a href="homepage_base_index.html"><img src="../../static/homepage/images/logo.jpg" width="294" height="49"
                                                alt="" title="宜居之城-信阳"></a>

        <ul>

            <li><a href="{{ url_for("homepage.index") }}">网站首页</a></li>

{#            <li><a href="{{ url_for("homepage.history") }}">旅游资讯</a></li>#}

            <li><a href="{{ url_for("homepage.beautiful") }}">风景预览</a></li>

            <li><a href="{{ url_for("homepage.tourism") }}">景区介绍</a></li>

            <li><a href="{{ url_for("homepage.delicacy") }}">美食天地</a></li>

            <li><a href="{{ url_for("homepage.new") }}">实时动态</a></li>

            <li><a href="{{ url_for("homepage.leave") }}">留言</a></li>

            <li><a href="{{ url_for("homepage.connection") }}">联系我们</a></li>

        </ul>

    </div>

</div>


<!--header结束-->

{% block container %}
    <div class="container">

        <!--banner开始-->

        <div class="banner">

            <div class="bd">

                <ul>

                    <li style="background:url(../../static/homepage/images/cs.jpg) no-repeat center top; background-size:1920px 334px;"></li>

                    <li style="background:url(../../static/homepage/images/jns.jpg) no-repeat center top;background-size:1920px 334px;"></li>


                </ul>

            </div>

            <div class="hd">

                <ul>

                    <li></li>

                    <li></li>

                </ul>

            </div>

            <a class="prev" href="javascript:void(0)"></a>

            <a class="next" href="javascript:void(0)"></a>

        </div>
        <!--调用JS模块图片滚动-->
        <script type="text/javascript">jQuery(".banner").slide({
            titCell: ".hd ul",
            mainCell: ".bd ul",
            effect: "fold",
            delayTime: 1000,
            interTime: 5000,
            autoPlay: true,
            autoPage: true,
            trigger: "click"
        });</script>

        <!--banner结束-->


        <!--content开始-->

        <div class="content">

            <p class="p_tit1">走进信阳</p>

            <ul class="ul_jishu clearfix">

                <li class="fl">

                    <a href="../../static/homepage/template/introduce.html"><img
                            src="../../static/homepage/images/h9.jpg" width="291" height="126" alt="" title=""></a>

                    <p>
                        <a href="../../static/homepage/template/introduce.html">信阳简介</a>
                        信阳市是中华人民共和国河南省下辖的地级市，位于河南省南端，唐代为“申州”州治地，故有“申城”之称。东望安徽，南控荆楚，是江淮河汉空间内的战略要地，也是鄂、豫、皖三省交界地带的区域性中心城市。信阳市总面积1.89万平方公里，有858.96万人口。
                    </p>

                </li>

                <li class="fl ml20">

                    <a href="Culture.html"><img
                            src="../../static/homepage/images/h8.jpg" width="291" height="126" alt="" title=""></a>

                    <p>
                        <a href="Culture.html">信阳文化</a>
                        信阳素有“北国江南，江南北国”之美誉，是中国优秀旅游城市、国家级生态示范市、中国十佳宜居城市，还是全国十大名茶之一信阳毛尖的诞生地。信阳作为曾经的鄂豫皖革命根据地，被国务院被列入全国12个重点红色旅游区。
                    </p>

                </li>

                <li class="fr">

                    <a href="historic.html"><img
                            src="../../static/homepage/images/h7.jpg" width="291" height="126" alt="" title=""></a>

                    <p>
                        <a href="historic.html">信阳历史</a>
                        信阳是一座历史古城。早在八千多年前，境内淮河两岸就出现了相当规模的原始农业，从东到西分布有裴李岗文化、龙山文化和屈家岭文化遗址多处。
                    </p>

                </li>

            </ul>


            <div class="feilei">

                <div class="fl1 fldiv">

                    <a href="#"><img src="../../static/homepage/images/ysxq.png" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">羊山新区</a></p>

                </div>

                <div class="fl2 fldiv">

                    <a href="#"><img src="../../static/homepage/images/jls.png" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">金兰山</a></p>

                </div>

                <div class="fl3 fldiv">

                    <a href="#"><img src="../../static/homepage/images/nwh.jpg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">南湾湖</a></p>

                </div>

                <div class="fl4 fldiv">

                    <a href="#"><img src="../../static/homepage/images/hbs.jpg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">黄柏山</a></p>

                </div>

                <div class="fl5 fldiv">

                    <a href="#"><img src="../../static/homepage/images/jgs.jpg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">鸡公山</a></p>

                </div>

                <div class="fl6 fldiv">

                    <a href="#"><img src="../../static/homepage/images/sh.jpeg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">浉河</a></p>

                </div>

                <div class="fl7 fldiv">

                    <a href="#"><img src="../../static/homepage/images/xsh.jpeg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">香山湖</a></p>

                </div>

            </div>

            <div class="zjfc">

                <p class="p_tit1">秀丽信阳</p>

                <div class="picScroll-left">

                    <div class="hd">

                        <a class="next"><</a>

                        <a class="prev">></a>

                    </div>

                    <div class="bd">

                        <ul class="picList">


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/h6.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/h5.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/h4.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/h3.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/h2.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/h1.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                        </ul>

                    </div>

                </div>

                <!--为秀丽南宁模块图片向左滚到-->

                <script type="text/javascript">

                    jQuery(".picScroll-left").slide({
                        titCell: ".hd ul",
                        mainCell: ".bd ul",
                        autoPage: true,
                        effect: "left",
                        autoPlay: true,
                        vis: 4,
                        trigger: "click"
                    });

                </script>


            </div>

        </div>

        <!--content 结束-->

    </div>
{% endblock %}


<!--footer开始-->

<div class="footer">

    <p><a href="#">首页</a> | <a href="#">历史</a> | <a
            href="#">风景</a> | <a
            href="#">旅游</a> | <a
            href="#">美食</a> | <a
            href="#">动态</a> | <a href="#">旅游</a>|
        <a href="connection.html">联系我们</a></p>

    <p>Copyright &copy; 2018－2019 All Rights Reserved </p>

</div>
<!--footer 结束-->

<!--注册表单 开始 -->
<!--注册表单 结束 -->
<!--登陆 开始 -->
<form class="login">
    <div class="box-2 le-2">
        <div class="flrg-1">
            <h3 class="regist_title">登录</h3>
            <div class="a">
                <!--<label>账号：</label>-->
                <input type="text" id="login-telephone-number" class="in-1" placeholder="请输入账号">
            </div>
            <div class="a">
                <!--<label>密码：</label>-->
                <input type="password" id="login-password" class="in-1" placeholder="请输入密码">
            </div>
            <div class="a">
                <button class="login_button" type="submit" value="Submit">登录</button>
            </div>
            <div class="a">
                <a href="#" class="to_regist">还没注册？</a>
            </div>
        </div>
    </div>
</form>
<form class="regist">
    <div class="box-2 le-2">

        <div class="flrg-1">
            <h2 class="regist_title">注册</h2>
            <div class="a">
                <input type="text" id="username" class="in-1" placeholder="您的昵称">
            </div>
            <div class="a">
                <input type="text" id="telephone-number" class="in-1" placeholder="输入手机号码">
            </div>
            <div class="a">
                <input type="password" id="password" class="in-1" placeholder="输入密码">
            </div>
            <div class="a">
                <input type="password" id="re-password" class="in-1" placeholder="再次确认密码">
            </div>
            <div class="a">
                <br>
                <button class="regist_button" type="submit" value="Submit">注册</button>
            </div>
        </div>
    </div>
</form>
<!--登陆 结束 -->
</body>

</html>

