<!DOCTYPE HTML>

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>宜居之城-信阳</title>

    <meta content="宜居之城-信阳" name="keywords"/>

    <meta content="宜居之城-信阳" name="description"/>
    {% block link %}
        <link href="../../static/css/base.css" rel="stylesheet" type="text/css">

        <link href="../../static/css/pagename.css" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block script %}
        <script type="text/javascript" src="../../static/homepage/js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="../../static/homepage/js/jquery.SuperSlide.2.1.js"></script>
        <script type="text/javascript" src="../../static/js/homepage.js"></script>
    {% endblock %}
</head>


<body>


<!--header开始-->

<div class="header">

    <div class="w1000">

        <p>你好，欢迎光临宜居之城信阳！</p>

        <div class="contact"><a href="javascript:;" class="login_btn" >用户登陆</a> <a href="javascript:;" class="register_btn">注册</a>
        </div>

    </div>

</div>


<div class="w1000">

    <div class="header_bottom">

        <a href="homepage_base_index.html"><img src="../../static/homepage/images/logo.jpg" width="294" height="49"
                                                alt="" title="绿城之都-南宁"></a>

        <ul>

            <li><a href="{{ url_for("homepage.homepage") }}">网站首页</a></li>

            <li><a href="{{ url_for("homepage.history") }}">旅游资讯</a></li>

            <li><a href="{{ url_for("homepage.beautiful") }}">风景预览</a></li>

            <li><a href="{{ url_for("homepage.tourism") }}">景区介绍</a></li>

            <li><a href="{{ url_for("homepage.delicacy") }}">美食天地</a></li>

            <li><a href="{{ url_for("homepage.new") }}">实时动态</a></li>

            <li><a href="{{ url_for("homepage.leave") }}">留言</a></li>

            <li><a href="{{ url_for("homepage.connection") }}">联系我们</a></li>

        </ul>

    </div>

</div>


<!--header结束-->

{% block container %}
    <div class="container">

        <!--banner开始-->

        <div class="banner">

            <div class="bd">

                <ul>

                    <li style="background:url(../../static/homepage/images/banner_4.jpg) no-repeat center top;"></li>

                    <li style="background:url(../../static/homepage/images/banner_2.jpg) no-repeat center top;"></li>


                </ul>

            </div>

            <div class="hd">

                <ul>

                    <li></li>

                    <li></li>

                </ul>

            </div>

            <a class="prev" href="javascript:void(0)"></a>

            <a class="next" href="javascript:void(0)"></a>

        </div>
        <!--调用JS模块图片滚动-->
        <script type="text/javascript">jQuery(".banner").slide({
            titCell: ".hd ul",
            mainCell: ".bd ul",
            effect: "fold",
            delayTime: 1000,
            interTime: 5000,
            autoPlay: true,
            autoPage: true,
            trigger: "click"
        });</script>

        <!--banner结束-->


        <!--content开始-->

        <div class="content">

            <p class="p_tit1">走进南宁</p>

            <ul class="ul_jishu clearfix">

                <li class="fl">

                    <a href="../../static/homepage/template/introduce.html"><img
                            src="../../static/homepage/images/pic_1.jpg" width="291" height="126" alt="" title=""></a>

                    <p>
                        <a href="../../static/homepage/template/introduce.html">南宁简介</a>
                        南宁，简称“邕”，是广西壮族自治区首府，全区政治、经济、交通、科教文卫、金融和信息中心，是中国面向东盟开放合作的前沿城市、中国—东盟博览会永久举办地、北部湾经济区核心城市、国家“一带一路”有机衔接的重要门户城市。
                    </p>

                </li>

                <li class="fl ml20">

                    <a href="../../static/homepage/template/Culture.html"><img
                            src="../../static/homepage/images/pic_2.jpg" width="291" height="126" alt="" title=""></a>

                    <p>
                        <a href="../../static/homepage/template/Culture.html">南宁文化</a>
                        南宁别称绿城、凤凰城、五象城。旅游资源丰富，北连桂林，南接北海，构成了广西的黄金旅游带。壮丽的边关风采、浪漫的海滩风貌、迷人的异国情调，星罗棋布的灵山秀水，古朴悠远的古迹故址，山、水、人、情构成南宁多层次的旅游景观。
                    </p>

                </li>

                <li class="fr">

                    <a href="historic.html"><img
                            src="../../static/homepage/images/pic_3.jpg" width="291" height="126" alt="" title=""></a>

                    <p>
                        <a href="historic.html">南宁历史</a>
                        南宁历史悠久，在古代，南宁属于百越领地。秦始皇统一岭南地区后，南宁属于桂林郡。西汉时期，汉武帝又将它置于玉林郡管辖。东晋大兴元年（公元318年），置大兴郡，以南宁为郡治所在地，南宁建制从此开始，至今已有1600多年。
                    </p>

                </li>

            </ul>


            <div class="feilei">

                <div class="fl1 fldiv">

                    <a href="#"><img src="../../static/homepage/images/pic_4.jpg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">人民公园</a></p>

                </div>

                <div class="fl2 fldiv">

                    <a href="#"><img src="../../static/homepage/images/pic_5.jpg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">南宁海底世界</a></p>

                </div>

                <div class="fl3 fldiv">

                    <a href="#"><img src="../../static/homepage/images/pic_6.jpg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">金花茶公园</a></p>

                </div>

                <div class="fl4 fldiv">

                    <a href="#"><img src="../../static/homepage/images/pic_7.jpg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">五象广场</a></p>

                </div>

                <div class="fl5 fldiv">

                    <a href="#"><img src="../../static/homepage/images/pic_8.jpg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">地王云顶</a></p>

                </div>

                <div class="fl6 fldiv">

                    <a href="#"><img src="../../static/homepage/images/pic_9.jpg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">南宁民歌湖游船</a></p>

                </div>

                <div class="fl7 fldiv">

                    <a href="#"><img src="../../static/homepage/images/pic_10.jpg" width="75" height="76" alt=""
                                     title=""></a>

                    <p><a href="#">名树博览园</a></p>

                </div>

            </div>

            <div class="zjfc">

                <p class="p_tit1">秀丽南宁</p>

                <div class="picScroll-left">

                    <div class="hd">

                        <a class="next"><</a>

                        <a class="prev">></a>

                    </div>

                    <div class="bd">

                        <ul class="picList">


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/201410301619396038.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/201410301618110413.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/201410301611286194.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/201410301613498694.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/201410301614494319.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                            <li>

                                <div class="pic"><img src="../../static/homepage/images/201410301615449632.jpg"
                                                      width="231" height="151"/></div>


                            </li>


                        </ul>

                    </div>

                </div>

                <!--为秀丽南宁模块图片向左滚到-->

                <script type="text/javascript">

                    jQuery(".picScroll-left").slide({
                        titCell: ".hd ul",
                        mainCell: ".bd ul",
                        autoPage: true,
                        effect: "left",
                        autoPlay: true,
                        vis: 4,
                        trigger: "click"
                    });

                </script>


            </div>

        </div>

        <!--content 结束-->

    </div>
{% endblock %}


<!--footer开始-->

<div class="footer">

    <p><a href="homepage_base_index.html">首页</a> | <a href="historic.html">历史</a> | <a
            href="beautiful.html">风景</a> | <a
            href="tourism.html">旅游</a> | <a
            href="delicacy.html">美食</a> | <a
            href="new.html">动态</a> | <a href="leave.html">旅游</a>|
        <a href="connection.html">联系我们</a></p>

    <p>Copyright &copy; 2015－2016 All Rights Reserved 版权所有 XXXXXXXXXXXXXXXXXX</p>
    <p>地址：XXXXXXXXXXXXXXXXXX 来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>

</div>
<!--footer 结束-->

<!--注册表单 开始 -->
<!--注册表单 结束 -->
<!--登陆 开始 -->
<div class="box-1 le-1">
    <form id="login" action="" method="post">
        <div class="flrg">
                <h3 class="login_title">登录</h3>
            <div class="a">
                <!--<label>账号：</label>-->
                <input type="text" name="username" class="in-1" placeholder="请输入账号">
            </div>
            <div class="a">
                <!--<label>密码：</label>-->
                <input type="password" name="password" class="in-1" placeholder="请输入密码">
            </div>
            <div class="a">
                <button type="button">登录</button>
            </div>
            <div class="a">
                <div class="hr"></div>
            </div>
            <div class="a">
                <a href="#">忘记密码？</a>
            </div>
        </div>
    </form>
</div>
<div class="box-2 le-2">
    <form  id="regist" action="" method="post">
        <div class="flrg-1">
            <h2 class="regist_title">注册</h2>
            <div class="a">
                <input type="text" name="username" class="in-1" placeholder="您的用户名">
            </div>
            <div class="a">
                <input type="password" name="password" class="in-1" placeholder="输入密码">
            </div>
            <div class="a">
                <input type="password" name="password2" class="in-1" placeholder="再次确认密码">
            </div>
            <div class="a">
                <input type="text" name="phone_num" class="in-1" placeholder="输入手机号码">
            </div>
{#            <div class="a">#}
{#                <input type="email" name="e-mail" class="in-1" placeholder="输入邮箱地址">#}
{#            </div>#}
            <div class="a">
                <br>
                <button class="bt_register" type="submit" value="Submit">注册</button>
            </div>
        </div>
    </form>
</div>
<!--登陆 结束 -->
</body>

</html>

