{% extends "homepage/homepage_base_index.html" %}

{% block link %}
    <link href="../../static/homepage/css/base.css" rel="stylesheet" type="text/css">

    <link href="../../static/homepage/css/pagename.css" rel="stylesheet" type="text/css">

{% endblock %}
{% block container %}

    <div class="container">

        <!--banner-->

        <div class="banner_erji">

            <img src="../../static/homepage/images/banner_erji6.jpg" width="1000" height="187" alt="" title=""></div>

        <!--banner end-->


        <!--content-->

        <div class="content clearfix">

            <div class="leftbar">

                <div class="leftnav">

                    <h1>其他目录</h1>

                    <ul class="ul_left">


                        <li>
                            <h3><a href="{{ url_for("homepage.leave") }}">给我留言</a></h3>

                        </li>


                        <li>
                            <h3><a href="{{ url_for("homepage.about") }}">团队介绍</a></h3>

                        </li>


                        <li>
                            <h3><a href="{{ url_for("homepage.connection") }}">联系我们</a></h3>

                        </li>


                    </ul>


                </div>

                <div class="left_lx">

                    <h1>联系方式</h1>

                    <p>地址：河南省信阳市平桥区羊山街道信阳农林学院</p>

                    <p>联系人：刘敏</p>

                    <p>学号：151413203</p>

                    <p>电话：+86 17739571362</p>

                    <p>QQ：1620183385</p>

                    <p>网址：www.liumin.com</p>

                    <p>邮编：464000</p>

                </div>

            </div>

            <div class="rightbar">

                <div class="bread"><a href="homepage_base_index.html">首页</a> >给我留言</div>

                <div class="contact_nei">
                    <form class="comment_submit" id="feedback_form" name="feedback_form" url="#">
                        <ul>
                            {% if data.user_info.nick_name %}
                                <li>
                                    <label>您的称呼：</label><input id="txtUserName" name="txtUserName" type="text"
                                                               class="yuyue_in" value="{{ data.user_info.nick_name }}"/>
                                </li>
                                <li>
                                    <label>您的电话：</label><input id="txtUserTel" name="txtUserTel" type="text"
                                                               class="yuyue_in" value="{{ data.user_info.phone_num }}"/>
                                </li>
                            {% else %}
                                <li>
                                    <label>您的称呼：</label><input id="txtUserName" name="txtUserName" type="text"
                                                               class="yuyue_in" placeholder="请输入您的昵称"/>
                                </li>
                                <li>
                                    <label>您的电话：</label><input id="txtUserTel" name="txtUserTel" type="text"
                                                               class="yuyue_in" placeholder="请输入您的手机号"/>
                                </li>
                            {% endif %}

                            <li>
                                <label>您的性别：</label><input type="radio" class="yuyue_ra" name="txtUserQQ" value="男"/>
                                <em>男</em> <input name="txtUserQQ" value="女" type="radio" class="yuyue_ra"
                                                  checked="true"/> <em>女</em>
                            </li>
                            <li>
                                <label>你的留言：</label><textarea id="txtContent" name="txtContent" cols="" rows=""
                                                              class="yuyue_te"
                                                              placeholder="请您留下宝贵的意见和建议,谢谢...🙏"></textarea>
                            </li>
                            <li>
                                <label>验证码：</label><input id="txtCode" name="txtCode" type="text" class="yuyue_in" style="width:100px;"/>
                                <img href="javascript:;" src="../../static/homepage/images/pic_code.png" class="pic_code" />
                                <a href="javascript:;" class="get_pic_code" onclick="get_pic()"> 看不清?</a>
                            </li>
                            <li>
                                <input name="btnSubmit" id="btnSubmit" type="submit" value="提交" class="btn"/> <input
                                    name="" type="reset" value="重置" class="btn"/>
                            </li>
                        </ul>
                    </form>


                </div>


            </div>
        </div>


        <!--content end-->

    </div>
{% endblock %}