{% extends "homepage/homepage_base_index.html" %}
{% block link %}

    <link href="../../static/homepage/css/base.css" rel="stylesheet" type="text/css">

    <link href="../../static/homepage/css/pagename.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block container %}

    <div class="container">

        <!--banner-->

        <div class="banner_erji">

            <img src="../../static/homepage/images/banner_erji5.jpg" width="1000" height="187" alt="" title=""></div>

        <!--banner end-->


        <!--content-->

        <div class="content clearfix">

            <div class="leftbar">

                <div class="leftnav">

                    <h1>新闻分类</h1>

                    <ul class="ul_left">


                        <li><h3><a href="new.html">旅游动态</a></h3>

                        </li>


                        <li><h3><a href="../../static/homepage/template/newest.html">旅游公告</a></h3>

                        </li>


                    </ul>


                </div>

                <div class="left_lx">

                    <h1>联系方式</h1>

                    <p>地址：XXXXX</p>

                    <p>联系人：XXXX</p>

                    <p>电话：0771-xxxxxxx</p>

                    <p>QQ：951XXX395</p>

                    <p>网址：www.XXXcom</p>

                    <p>邮编：530001</p>

                </div>

            </div>

            <div class="rightbar">

                <div class="bread"><a href="homepage_base_index.html">首页</a> >最新动态</div>

                <ul class="ul_news">


                    <li><span>2016-07-02</span><a href="#">大数据:网友推荐暑期旅游热门景点排行榜</a></li>

                    <li><span>2016-07-02</span><a href="#">大数据:网友推荐暑期旅游热门景点排行榜</a></li>

                    <li><span>2016-07-02</span><a href="#">大数据:网友推荐暑期旅游热门景点排行榜</a></li>

                    <li><span>2016-07-02</span><a href="#">大数据:网友推荐暑期旅游热门景点排行榜</a></li>

                </ul>


                <div class="paging"></div>

            </div>

        </div>

        <!--content end-->

    </div>
{% endblock %}

