{% extends "homepage/homepage_base_index.html" %}
{% block link %}

    <link href="../../static/homepage/css/base.css" rel="stylesheet" type="text/css">

    <link href="../../static/homepage/css/pagename.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block container %}

    <div class="container">

        <!--banner-->

        <div class="banner_erji">

            <img src="../../static/homepage/images/banner_erji5.jpg" width="1000" height="187" alt="" title=""></div>

        <!--banner end-->


        <!--content-->

        <div class="content clearfix">

            <div class="leftbar">

                <div class="leftnav">

                    <h1>新闻分类</h1>

                    <ul class="ul_left">


                        <li><h3><a href="#">旅游动态</a></h3>

                        </li>


                        <li><h3><a href="#">待扩展...</a></h3>

                        </li>


                    </ul>


                </div>

                <div class="left_lx">

                    <h1>联系方式</h1>

                    <p>地址：河南省信阳市平桥区羊山街道信阳农林学院</p>

                    <p>联系人：刘敏</p>

                    <p>学号：151413203</p>

                    <p>电话：+86 17739571362</p>

                    <p>QQ：1620183385</p>

                    <p>网址：www.liumin.com</p>

                    <p>邮编：464000</p>

                </div>

            </div>

            <div class="rightbar">

                <div class="bread"><a href="{{ url_for("homepage.index") }}">首页</a> >最新动态</div>

                <ul class="ul_news">
                    {% if data.news %}
                        {% for item in data.news %}
                            <li><span>{{ item.time }}</span><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li><span>2019-01-07</span><a href="http://www.xyta.net/html/zsyz/xmdt/201812312635.html">商城县第四届“大美里罗城”大别山民俗旅游节盛大开幕</a>
                        </li>
                    {% endif %}
                </ul>


                <div class="paging"></div>

            </div>

        </div>

        <!--content end-->

    </div>
{% endblock %}

