{% extends "homepage/homepage_base_index.html" %}

{% block link %}

    <link href="../../static/homepage/css/base.css" rel="stylesheet" type="text/css">

    <link href="../../static/homepage/css/pagename.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block container %}

    <div class="container">

        <!--banner-->

        <div class="banner_erji">

            <img src="../../static/homepage/images/banner_erji2.jpg" width="1000" height="187" alt="" title=""></div>

        <!--banner end-->


        <!--content-->

        <div class="content clearfix">

            <div class="leftbar">

                <div class="leftnav">

                    <h1>必玩景点</h1>

                    <ul class="ul_left">


                        <li><h3><a href="{{ url_for('scenic.introduce') }}?name=鸡公山">鸡公山</a></h3>
                            <li><h3><a href="{{ url_for('scenic.introduce') }}?name=南湾湖">南湾湖</a></h3>

                        </li>


                    </ul>


                </div>

                <div class="left_lx">

                    <h1>联系方式</h1>

                    <p>地址：河南省信阳市平桥区羊山街道信阳农林学院</p>

                    <p>联系人：刘敏</p>

                    <p>学号：151413203</p>

                    <p>电话：+86 17739571362</p>

                    <p>QQ：1620183385</p>

                    <p>网址：www.liumin.com</p>

                    <p>邮编：464000</p>

                </div>

            </div>

            <div class="rightbar">

                <div class="bread"><a href="homepage_base_index.html">首页</a> > 旅游景点</div>

                <ul class="ul_zj clearfix">


                    <li>

                        <a href="{{ url_for('scenic.introduce') }}?name=南湾湖"><img src="../../static/homepage/images/tourism_nwh.jpg" width="220"
                                         height="140"><span>南湾湖</span></a></li>


                    <li>

                        <a href="{{ url_for('scenic.introduce') }}?name=鸡公山"><img src="../../static/homepage/images/tourism_jgs.jpg"
                                         width="220" height="140"><span>鸡公山</span></a></li>


                    <li>

                        <a href="{{ url_for('scenic.introduce') }}?name=灵山"><img src="../../static/homepage/images/tourism_ls.jpg"
                                         width="220" height="140"><span>灵山</span></a></li>


                    <li>

                        <a href="{{ url_for('scenic.introduce') }}?name=郝堂村"><img src="../../static/homepage/images/tourism_htc.jpg" width="220"
                                         height="140"><span>郝堂村</span></a></li>


                    <li>

                        <a href="{{ url_for('scenic.introduce') }}?name=金牛文化园"><img src="../../static/homepage/images/tourism_jns.jpg"
                                         width="220" height="140"><span>金牛文化园</span></a></li>


                    <li>

                        <a href="{{ url_for('scenic.introduce') }}?name=黄柏山"><img src="../../static/homepage/images/tourism_hbs.jpg" width="220"
                                         height="140"><span>黄柏山</span></a></li>


                    <li>

                        <a href="{{ url_for('scenic.introduce') }}?name=邓颖超祖居"><img src="../../static/homepage/images/tourism_dyczj.jpg"
                                         width="220" height="140"><span>邓颖超祖居</span></a></li>


                </ul>

                <div class="paging"></div>

            </div>

        </div>

        <!--content end-->

    </div>
{% endblock %}