{% extends "homepage/homepage_base_index.html" %}

{% block link %}

    <link href="../../static/css/base.css" rel="stylesheet" type="text/css">

    <link href="../../static/css/pagename.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block container %}

    <div class="container">

        <!--banner-->

        <div class="banner_erji">

            <img src="../../static/homepage/images/banner_erji2.jpg" width="1000" height="187" alt="" title=""></div>

        <!--banner end-->


        <!--content-->

        <div class="content clearfix">

            <div class="leftbar">

                <div class="leftnav">

                    <h1>必玩景点</h1>

                    <ul class="ul_left">


                        <li><h3><a href="tourism.html">线路介绍</a></h3>

                        </li>


                    </ul>


                </div>

                <div class="left_lx">

                    <h1>联系方式</h1>

                    <p>地址：XXXX</p>

                    <p>联系人：XXXX</p>

                    <p>电话：0771-xxxxxxx</p>

                    <p>QQ：9XXXX</p>

                    <p>网址：wXXXX/p>

                    <p>邮编：530001</p>

                </div>

            </div>

            <div class="rightbar">

                <div class="bread"><a href="homepage_base_index.html">首页</a> > 旅游景点</div>

                <ul class="ul_zj clearfix">


                    <li>

                        <a href="#"><img src="../../static/homepage/images/ac2fc3c443a030a138db4941.jpg" width="220"
                                         height="140"><span>青秀山</span></a></li>


                    <li>

                        <a href="#"><img src="../../static/homepage/images/8cb1cb13495409232994fbb49258d109b2de497f.jpg"
                                         width="220" height="140"><span>灵水</span></a></li>


                    <li>

                        <a href="#"><img src="../../static/homepage/images/03087bf40ad162d9e177468510dfa9ec8b13cd89.jpg"
                                         width="220" height="140"><span>南宁大明山</span></a></li>


                    <li>

                        <a href="#"><img src="../../static/homepage/images/0865b5188d74656d34fa416e.jpg" width="220"
                                         height="140"><span>药用植物园</span></a></li>


                    <li>

                        <a href="#"><img src="../../static/homepage/images/902397dda144ad340cc4a51ed1a20cf431ad852b.jpg"
                                         width="220" height="140"><span>广西民族博物馆</span></a></li>


                    <li>

                        <a href="#"><img src="../../static/homepage/images/c71d0e381eddfbaab311c753.jpg" width="220"
                                         height="140"><span>西津湖</span></a></li>


                    <li>

                        <a href="#"><img src="../../static/homepage/images/b90e7bec54e736d1aa1945aa9b504fc2d562690e.jpg"
                                         width="220" height="140"><span>九龙瀑布森林公园</span></a></li>


                </ul>

                <div class="paging"></div>

            </div>

        </div>

        <!--content end-->

    </div>
{% endblock %}