<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加旅游景点</title>
</head>
<body>
    <div class="box">
        <form action="" method="." id="form_travel">
            <label><input type="text" name="name" /></label>
            <label><input type="text" name="pic_link" /></label>
            <label><input type="text" name="open_time" /></label>
            <label><input type="text" name="advice_time" /></label>
            <label><input type="text" name="phone" /></label>
            <label><input type="text" name="price" /></label>
            <label><input type="text" name="website" /></label>
            <label><input type="text" name="place" /></label>
            <label><input type="submit" name="submit" value="创建" /></label>
        </form>
    </div>
</body>
</html>