<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理后台登录界面</title>
    <link href="../../static/admin/admin_index.css" type="text/css" rel="stylesheet">
    <script src="../../static/jquery.min.js"></script>

    <script >
        var Back = {
            curBack: "{% for url in pic_urls %}{{ url }}{% endfor %}",
            index: 1,
        }
    </script>
    <script src="../../static/admin/change_background.js"></script>
    <script src="../../static/js/admin_login.js"></script>

</head>
<body>
<div class="login_div">
    {% for url in pic_urls %}
        {% if loop.index == 1 %}
    <img src="{{ url }}" id="img_back">
        {% endif %}
    {% endfor %}
    <button class="btn_change">切换背景图</button>
    <form method="post" id="form_action">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="index_back" class="index_back" value="1">
        <ul>
            <li class="login_admin">管理员登录</li>
            {% for i in ["密码", "账号"] %}

                <li>
                    <span class="span_css">{{ i }}:</span>
                    <label class="label_css">
                        <input type="{{ loop.index | filter_input_type }}" name="{{ loop.index | filter_css }}" class="{{ loop.index | filter_css }}"/>
                    </label>
                </li>
            {% endfor %}
            <li>
                <input type="submit" value="登录" class="login_btn">
            </li>
            <li>
                <span class="span_msg"></span>
            </li>
        </ul>

    </form>
</div>

</body>
</html>
