body, ul, div, li, p, span, table, form {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, .5);
}

.wrapper .title {
    height: 30px;
    width: 100%;
    background: linear-gradient(to bottom, dimgray, #17202A);
    font-size: 18px;
    text-indent: 2em;
}

.wrapper .tab {
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.wrapper .tab .tab_ul {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background: #17202A;
    line-height: 50px;
    text-align: center;
}

.tab_ul .tab_li {
    width: 100%;
    height: 50px;
    display: inline;
    list-style: none;
    cursor: pointer;
}

.show_background {
    background-color: #5e5e5e;
}

.box {
    background-color: whitesmoke;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
}

/* 用户信息的子tab */
.left_son_tab {
    height: auto;
    width: 100%;
}

.tab_son_ul {
    height: 126px;
    width: 100%;
}

.tab_son_ul li {
    display: block;
    list-style: none;
    height: 60px;
    width: 100%;
    background: #2E4053;
    text-align: center;
    margin-top: 20px;
    line-height: 60px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #eee;
}

.all_users_ul {
    height: 500px;
    width: 100%;
    display: block;
    list-style: none;
    margin-top: 20px;
    overflow: scroll;
}

.all_users_li, .all_users_li_other {
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    color: black;
    border-radius: 5px;
}

.all_users_li:hover, .all_users_li_other:hover {
    cursor: pointer;
    font-size: 28px;
}

.all_users_li {
    background-color: #566573;
}

.all_users_li_other {
    background-color: #808B96;
}

/*// admin_info_table*/
@keyframes tb_move {
    0% {
        border-color: #ABB2B9;
    }
    15% {
        border-color: #808B96
    }
    30% {
        border-color: #566573
    }
    45% {
        border-color: #2C3E50
    }
    60% {
        border-color: #273746
    }
    75% {
        border-color: #212F3D
    }
    80% {
        border-color: #1C2833
    }
    95% {
        border-color: #17202A
    }
    100% {
        border-color: black
    }
}

.right_content {
    width: 85%;
    height: auto;

}

.tb_name, #tb_user {
    width: 100%;
    height: 300px;
    border-style: dashed;
    animation: tb_move 10s infinite;
    top: -100px;
    margin: 30px 0 0 10%;
    text-align: center;
    background: #566573;
}

#tb_user tr {
    width: 100%;
    height: 60px;
}

#tb_user tr td {
    width: 100px;
    height: 60px;
}

#user_pic {
    border-radius: 50%;
    height: 200px;
    width: 150px;
}

.btn_op {
    opacity: 0.5;
    font-size: 20px;
    background: black;
    color: white;
}

.alter_window .alter_pic_module {
    width: 20%;
    height: 400px;
    background: dimgray;
    position: absolute;
    margin: 0 auto;
    top: 20%;
    left: 40%;
}

.btn_sure_alter_pic {
    margin-left: 6em;
    margin-top: 15px;
    border-radius: 10px;
    height: 100px;
    width: 100%;
}

.info_form {
    width: 100%;
    height: auto;
}

.input_css {
    float: left;
    height: 40px;
    width: 180px;
}

.raido_sex {
    float: left;
}

.person_sign {
    float: left;
    width: 180px;
    height: 100px;
}

.info_module {
    position: absolute;
    left: 25%;
    top: 20%;
    width: 40%;
    height: 500px;
}

/*切换TAB显示内容*/
.travel_frame {
    width: 100%;
    height: calc(100vh - 80px);
    background: rgba(0, 0, 0, 1);
}
